// h1 {
//     color: black;
//     width: 1270px;
//     margin: 0 auto;
// }

// form {
//     display: flex;
//     flex-direction: column;
//     max-width: 400px;
//     margin: 0 auto;
//     padding: 20px;

//     label {
//         margin-bottom: 10px;
//     }

//     input {
//         padding: 5px;
//         margin-bottom: 15px;
//     }

//     input[type="submit"] {
//         background-color: #1890ff;
//         color: white;
//         border: none;
//         padding: 10px;
//         cursor: pointer;
//         transition: background-color 0.3s;

//         &:hover {
//             background-color: #40a9ff;
//         }
//     }
// }